<h1>Edit This Week's Meals</h1>

<form role="form">
  <div class="form-group">
    <label for="sunday">Sunday Meal</label>
    <input type="text" id="sunday" class="form-control" ng-model="meals.sunday.name">
  </div>
  <div class="form-group">
    <label for="monday">Monday Meal</label>
    <input type="text" id="monday" class="form-control" ng-model="meals.monday.name">
  </div>
  <div class="form-group">
    <label for="tuesday">Tuesday Meal</label>
    <input type="text" id="tuesday" class="form-control" ng-model="meals.tuesday.name">
  </div>
  <div class="form-group">
    <label for="wednesday">Wednesday Meal</label>
    <input type="text" id="wednesday" class="form-control" ng-model="meals.wednesday.name">
  </div>
  <div class="form-group">
    <label for="thursday">Thursday Meal</label>
    <input type="text" id="thursday" class="form-control" ng-model="meals.thursday.name">
  </div>
  <div class="form-group">
    <label for="friday">Friday Meal</label>
    <input type="text" id="friday" class="form-control" ng-model="meals.friday.name">
  </div>
  <div class="form-group">
    <label for="saturday">Saturday Meal</label>
    <input type="text" id="saturday" class="form-control" ng-model="meals.saturday.name">
  </div>
  <a href="#/dashboard" class="btn btn-primary">Back</a>
</form>
